---
layout: default
single: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

{% include article.html %}   

{% include post/bsharing.html %}
<br>
<div style="height:50px;margin:20px 0">
<p style="font-size:180%;float:left; " class="meta">
 
  {% if page.next.url %}
	<a href="{{page.next.url}}" style="margin-right:20px ;"  title="Next Post: {{page.next.title}}">&laquo; {{page.next.title}}  </a>
  {% endif %}
  {% if page.previous.url %} 
	<a href="{{page.previous.url}}" style="" title="Previous Post: {{page.previous.title}}"> {{page.previous.title}}  &raquo;</a>
  {% endif %}
</p>
</div>
<br></br>

{% if site.duoshuo_short_name and site.duoshuo_comments == true and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="comments" aria-live="polite">{% include post/duoshuo.html %}</div>
  </section>
{% endif %}

</article>
