{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div class="post-header-date">
      {{- .Date.Format "Monday, January 2, 2006" | upper -}}
      {{- with .Params.categories }}
        · {{ range $i, $c := . }}<a href="{{ "/categories/" | relURL }}{{ $c | urlize }}/">#{{ $c | upper }}</a> {{ end }}
      {{- end }}
    </div>
  </header>

  <div class="post-content">
    {{- partial "toc.html" . -}}
    {{ .Content }}
  </div>

  {{ partial "series.html" . }}


</article>

{{/* comments temporarily hidden */}}

{{ end }}
