///////////
// 侧边栏 //
///////////
.header-inner {
  background-image: url("/images/site-meta-bg/sky.jpg");
  background-size: cover;
}

// 侧边栏 - 上
.site-nav .menu .menu-item a {
  height: 30px;
  color: #f9f9f9;
}

.site-nav .menu .menu-item a:hover, .site-nav .menu .menu-item-active a {
  background: rgba(0, 0, 0, 0.2);
}

// 侧边栏 - 下
.site-overview {
  opacity: 0.2;
}

// 搜索
.local-search-pop-overlay {
  opacity: 1;
  background: none;
}

//  头像
.site-overview, .header-inner {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.site-overview:hover, .header-inner:hover {
  opacity: 1;
}

// disable top bar
.headband {
  display: none;
}

/////////////
// 文章样式 //
////////////
// 文章之间的间隔
.post-footer {
  //border-top: 1px solid rgba(0,0,0,.04);
  padding: 10px 0 5px 0;
}

.post:last-child {
  hr {
    display: none;
  }
}

// 每个文章上面的 padding
.post-block {
  padding-top: 20px;
}
.posts-expand .post-title-link{
  vertical-align: baseline;
}

// disable shadow for loading img.
// p.s. how to be more specific..
.posts-expand .post-body .fancybox img[src*="loading_test_ver2.0.gif"] {
  box-shadow: none;
}

// article <p> margin
p {
  margin: 5px 0 10px 0;
}

// quote
code {
  padding: 4px 4px 1px 4px;
  //background: #eee8d5;
}

// background & line-height
body {
  line-height: 1.6;
}

img {
  max-height: 350px;
}

.post-header .post-meta .post-comments-count, .disqus-comment-count {
  color: #999;
}

.post-header .post-title {
  font-size: 22px;
  margin-bottom: 0;
}


// 归档的标题样式
.posts-collapse .collection-title {
  margin: 40px 0 20px 0;
}

.posts-collapse .post {
  margin: 0;
}

.posts-collapse .post-header {
  border-bottom: none;
}

.posts-collapse .post-title {
  font-size: 17px;
  margin-bottom: 10px;
  padding-left: 3px;
}

.posts-collapse .post-title a, .posts-collapse .post-title span.exturl {
  color: #24292e;
}


// 图片
.posts-expand .post-body .fancybox img {
  //margin: 0 auto 20px;
  padding: 0;
  border: 0;
  margin: 5px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.posts-expand .post-body .fancybox img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.posts-expand .post-body img {
  margin: 0 auto 10px;
}
