body {
  background: none;

  .headband {
    display: none;
  }
}


///////////
// 侧边栏 //
///////////
.header-inner {
  background-image: url("/images/site-meta-bg/sky.jpg");
  background-size: cover;

  .site-meta {
    background: none;
  }

  .site-nav .menu .menu-item a {
    height: 30px;
    color: #f9f9f9;
    border-bottom: none;
  }

  .site-nav .menu .menu-item a:hover, .site-nav .menu .menu-item-active a {
    background: rgba(0, 0, 0, 0.2);
  }

  .site-title {
    font-size: 1.375em;
  }

  // 搜索

  .local-search-pop-overlay {
    opacity: 1;
    background: none;
  }
}

// 侧边栏下
.sidebar {
  .site-overview-wrap {
    opacity: 0.2 !important;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;

    &:hover {
      opacity: 1 !important;
    }
  }

  .links-of-author {
    margin-top: 5px;
  }

  .site-author-image {
    transition: transform 0.75s;

    &:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .site-author-name {
    line-height:2;
    font-weight: 400;
  }
}

/////////////
// 文章样式 //
////////////
.posts-expand {
  padding-top: 0;

  .post-body {
    p {
      margin: 5px 0 15px 0;
      line-height: 1.8;
    }

    a, span.exturl {
      color: #2f7bbf;
      text-decoration: none;
      border-bottom: none;
    }

    h1 {
      padding-bottom: .3em;
      border-bottom: 1px solid #eaecef;
    }

    h1, h2, h3, h4, h5, h6 {
      margin: 0.6em 0 0 0;
      font-weight: 400;
    }

    code {
      padding: 4px 4px 1px 4px;
      //background: #eee8d5;
    }


    img {
      max-height: 350px;
      margin: 0 auto 10px;
    }

    .fancybox img {
      //margin: 0 auto 20px;
      padding: 0;
      border: 0;
      margin: 5px 0;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
    }

    // disable shadow for loading img.
    // p.s. how to be more specific..

    .fancybox img[src*="loading.svg"] {
      box-shadow: none;
    }

    .fancybox img:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    }
  }


  .post-header {
    .post-meta {
      margin: 0;

      a, time {
        border-bottom: none;
      }
    }

    .post-title {
      font-size: 1.5em;
      font-weight: 400;

      .post-title-link {
        vertical-align: baseline;
      }

      .post-title-link:hover {
        color: #2f7bbf;
        text-decoration: none;
        border-bottom: none;
      }
    }

    .post-comments-count, .disqus-comment-count {
      color: #999;
    }
  }

  .post-footer {
    // 文章之间的间隔
    padding: 25px;

    .post-eof {
      display: none;
    }
  }
}


//////////////////
// 归档的标题样式 //
/////////////////
.posts-collapse {
  .collection-year {
    margin: 10px 0;
  }

  .post-header {
    border-bottom: none;
  }

  .post-title {
    margin-top: 0;
    font-size: 1em;

    span {
      margin-left: 5px;
    }

    a, span.exturl {
      color: #24292e;
    }

    .post-title-link:hover {
      color: #2f7bbf;
    }
  }

  article {
    margin: 8px 0;
  }

  .collection-year {
    margin: 20px 0 0 0;
  }
}

/////////////
//   其他  //
////////////
.pagination {
  margin-top: 0;
}
